@font-face {
    font-family: eiko-medium;
    src: url("./assets/fonts/Eiko-Medium.otf");
}
@font-face {
    font-family: eiko-thin;
    src: url("./assets/fonts/Eiko-Thin.otf");
}
@font-face {
    font-family: eiko-heavy;
    src: url("./assets/fonts/Eiko-Heavy.otf");
}
@font-face {
    font-family: eiko-italic;
    src: url("./assets/fonts/Eiko-.otf");
}

/* Font options:
font-family: 'B612 Mono', monospace;
font-family: 'Carme', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Kanit', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

body {
  margin: 0;
  padding: 0;
  /* font-family: eiko-thin; */
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  
}
a,
a:hover,
a:visited {
  color: #0071bc;
}
#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -5;
}
#mapInset {
  bottom: 50px;
  right: 30px;
  height: 180px;
  width: 250px;
  max-width: 100%;
  position: fixed;
  z-index: -4;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left {
  display: none;
}
@media (max-width: 500px) {
  #mapInset {
    display: none;
  }
}
#header {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: -4;
}
#header h1,
#header h2,
#header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
}
#footer {
  width: 100%;
  min-height: .1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  line-height: 18px;
  position: relative;
  font-size: 16px;
  /* z-index: -2; */
  background-color: #eee9e0;
  -webkit-border-radius: 0 0 0px 0px;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 100%;
  margin: auto;
}
.light {
  color: #444;
  /* background-color: #eee9e0; */
  -webkit-border-radius: 30px;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
}
.step.active {
  opacity: 1;
}
/* normal background-color should be #eee9e0 */
/* transparent background-color should be #eee9e000 */
/* normal shadow should be rgba(0, 0, 0, 0.5) */
/* transparent shadow should be rgba(0, 0, 0, 0)*/

.step div {
  padding: 5px 25px;
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  /* shadow */
  background-color: #eee9e0;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}

#video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -2;
}
#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
#content {
  width: 100%;
  height: 100%;
  /* padding: 100px 0; */
  text-align: center;
  box-sizing: border-box;
}

#full-photo {
  top: 0;
  background-image: url("./assets/floods4.jpg");
  position: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  /*    display: none;*/
  opacity: 1;
  /* Hidden by default block turns it on */
  /* -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out; */
  transition: width 0s, height 0s, opacity 1s;
}

h3 {
    /* font-family: eiko-heavy; */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 35px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}
#video-overlay h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 96px;
  text-align: center;
  /* font-family: eiko-thin; */
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 3px black;
  /* text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3); */
}
#video-overlay h2 {
  /* center */
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  /* font-family: eiko-thin; */
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  /* text-shadow: 1px 1px 3px black; */
  /* text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3); */
}